 *{
margin:-1px;
padding:-1px;
 }

.cabecalho{
    background-color:#f70505;
    color:antiquewhite;
    display:flex;
    justify-content: space-around;
    padding: 2px 0;
    font-size:20px;
} 
.cabecalhoListaItem {
    display: inline-block;
    margin:23px 10px;
    padding:8px 10px;

}

.sobreImagem{
           width: 100 px 70px
} 

.sobre{
        background-image: linear-gradient(#f70505, #020202);
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 25px 50px;
}

.sobreConteudo{
        width: 20px 10px;
}

.sobreTitulo{
         padding: 50px 1px;
}